body,html {
  margin: 0px;
  width: 100%;
  height: 100vh;
  font-size: 12px;
}

#app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45px auto;
  grid-template-areas: 
    "header"
    "main";
  width: 100%;
  height: 100vh;
  font-family: arial;
}

.content {
  grid-area: main;
  display: grid;
  grid-gap: 2.0em;
  padding:2.0em;
  grid-template-columns: 1fr 1fr;
  background-color: lightcyan;
}

.option {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: ". a .";
  border: solid 1px black;
  border-radius: 25px;
  background-color: rgb(218, 193, 140);
}

.option img{
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.header {
  grid-area: header;
  font-size: 3.0em;
  padding:0.1em;
  border-bottom: solid 1px gray;
  background-color: blue;
  color:white;
}


@media (min-width: 1281px) {
  #app {
    font-size: 2.0em;
    grid-template-rows: 5.0em auto;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  #app {
    font-size: 2.0em;
    grid-template-rows: 5.0em auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #app {
    font-size: 1.6em;
    grid-template-rows: 4.0em auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #app {
    font-size: 1.6em;
    grid-template-rows: 4.0em auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #app {
    font-size: 0.9em;
    grid-template-rows: 60px auto;
  }
}

@media (max-width: 480px) {
  #app {
    font-size: 0.9em;
    grid-template-rows: 60px auto;
  }
}